<div class="list-messages-container">
  <h1>My crown's messages</h1>
  <ul class="msg-charact">
    <li *ngFor"let messageCharact for messagesCharact">
      <div class="avatar-msg-dates">
      <p>{{charact.name}} {{charact.surname}}</p>
      <p>{{messageCharact.date}}</p>
      <p>{{charact.house}}</p>
      </div>
      <div>
        <img [src]="{{charact.picture}}" alt="Character picture"/>
        <p>{{messageCharact.text}}</p>
      </div>
      <div>
        <img (click)="setStateCool(messageCharact)" src="" alt="Cool!"/>
        <img (click)="setStatePssst(messageCharact)" src="" alt="Pssst!"/>
        <img (click)="setStateDie(messageCharact)" src="" alt="You must die!"/>
      </div>
    </li>
  </ul>
</div>
