<!-- Header and nav-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">GOTBook</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#stories">My stories</a></li>
                <li><a href="#things">My things</a></li>
                <li><a href="#partners">My partners</a></li>
                <li><a href="#events">My events</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="image">
</div>
<!-- Jumbotron -->
    <div class="jumbotron">
        <div class="name-charact">
            <h1>Daenerys Targaryen</h1>
        </div>
    </div>
<!-- Footer -->
<footer class="text-center">
    <p>Copyleft The High Sparrow - 2017 - GOTBook - Chat when winter is comming</p>
</footer>